[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
onchain = "7SQEGyPgr3SdRz9KCFkrFLhkGb3ojKyJALWucvXy9rDk"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
testDeposit = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/deposit.ts\""
testInitialization = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/onchain.ts\""
testInternalTransfer = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/internalTransfer.ts\""
testWithdraw = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/withdraw.ts\""
